.shop-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.products-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
    margin: 50px;
}
.cart-container{
    text-align: center;
}

@media only screen and (max-width: 688px) {


    .shop-container {
        grid-template-columns: 1fr;
    }

    .products-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-right: auto;
        margin-left: auto;
    }

}